<html>
<head><link rel="stylesheet" type="text/css" href="/assets/styles.css"/></head>

<body onload="menuOption(<%= menuitem %>)" style="background-color: rgb(229, 245, 250);">
<title>Crypto Demo</title>
<div class="simple-style" >

    <div class ="headerdiv">
        <h2>Crypto Demo</h2><hr><br>
        <input class ="menu-button" type="submit" value ="Encrypt" onclick="menuOption('1')">
        <input class ="menu-button" type="submit" value="Decrypt" onclick="menuOption('2')">
        <input class ="menu-button" type="submit" value="Hash" onclick="menuOption('3')">
        <input class ="menu-button" type="submit" value="RSA Keys" onclick="menuOption('4')">
        <input class ="menu-button" type="submit" value="RSA Encrypt" onclick="menuOption('5')">
        <input class ="menu-button" type="submit" value="RSA Decrypt" onclick="menuOption('6')">
        <input type="button" onclick="location.href='/';" value="Reset" />
    </div>
  
<!-- 1. Encrypt -->
    <div id="1" class="menu-div" style="display:none">
        <form method="POST" action="/encrypt" >

            <legend>Encrypt</legend><hr>
            <span><i>algorithm = Advanced Encryption Standard (AES) 256</i></span>
            <br><br>    

            <label>Plaintext:</label>
            <textarea name="data" id ="data" placeholder="plaintext" class ="input-textarea" rows=4 cols=120 required><%= encryption.data %></textarea>

            <label>Secret:</label>
            <input type="text" value="<%= encryption.secret %>" name="secret" id ="secret" class="field-small" placeholder="secret" size=50 required>

            <br><br>
            <input type="submit" value="Encrypt"/>
            <br><br>

            <label>Cipher (Encrypted) Text:</label>
            <textarea name="cipher" id ="cipher" class="encrypted" rows=4 cols=120 readonly><%= encryption.cipher %></textarea><br>
        
        </form>
    </div>


<!-- 2. Decrypt -->
    <div id="2" class="menu-div" style="display:none">
        <form method="POST" action="/decrypt" >

            <legend>Decrypt</legend><hr>
            <span><i>algorithm = Advanced Encryption Standard (AES) 256</i></span>
            <br><br>

            <label>Cipher:</label>
            <textarea name="cipher" id ="cipher" class ="input-textarea" placeholder="cypher..." class ="input-textarea" rows=4 cols=120 required><%= encryption.cipher %></textarea>
 
            <label>Secret:</label>
            <input type="text" name="secret" id ="secret" class="field-small" placeholder ="secret" value="<%- encryption.secret %>" size=50 required >

            <br><br>
            <input type="submit" value="Decrypt" />
            <br><br>

            <label>Decrypted Text:</label>
            <textarea name="plaintext" id ="plaintext" rows=4 cols=120 readonly><%= decryption.data %></textarea><br>

        </form>
    </div>


<!-- 3. Hash -->
    <div id="3" class="menu-div" style="display:none">

        <form method="POST" action="/hash" >

            <legend>Hash</legend><hr>
            <span><i>algorithm = Secure Hash Algorithm 2 (SHA-2) 512</i></span>
            <br><br>

            <label>Plaintext:</label>
            <textarea name="data" id ="data" class ="input-textarea" placeholder="plaintext" class ="input-textarea" rows=4 cols=120 required><%= hashed.data %></textarea>

            <label>Secret:</label>
            <input type="text" name="secret" id ="secret" class="field-small" placeholder ="secret" value="<%- hashed.secret %>" size=50 >

            <br><br>
            <input type="submit" value="Hash" />
            <br><br>

            <label>Hashed Text:</label>
            <textarea name="hashed" id ="hashed" rows=4 cols=120 readonly><%= hashed.hash %></textarea><br>
        </form>
        <br>
    </div>


<!-- 4. RSA - Generate Keys -->
    <div id="4" class="menu-div" style="display:none">

        <form method="POST" action="/rsaKeys" >

            <br>
            <label>Generate RSA Keys</label><hr>
            <!-- <span><i>algorithm = RSA</i></span> -->
            <br>

            <input type="submit" value="Generate Keys" />
            <br><br>
        
            <label>Private Key:</label>
            <span><i>Privacy-enhanced Electronic Mail - PEM):</i></span>
            <textarea name="priv" id ="priv" class ="input-textarea" placeholder="private key" rows=24 cols=120 readonly><%= rsadecrypt.priv %></textarea>

            <br>
            <label>Public Key:</label>
            <span><i>Privacy-enhanced Electronic Mail - PEM):</i></span>
            <textarea name="pub" id ="pub" class ="input-textarea" placeholder="public key" rows=10 cols=120 readonly><%= rsaencrypt.pub %></textarea>
        </form>
        <br>
    </div>


<!-- 5. RSA - Encrypt -->
    <div id="5" class="menu-div" style="display:none">

        <form method="POST" action="/rsaEncrypt" >

            <br>
            <label>RSA Encrypt</label><hr>
            <!-- <span><i>algorithm = RSA</i></span> -->
            <br>

            <label>Plaintext:</label>
            <textarea name="data" id ="data" placeholder="plaintext" class ="input-textarea" rows=4 cols=120 required><%= rsaencrypt.data %></textarea>

            <label>Public Key:</label>
            <textarea name="pub" id ="pub" class ="input-textarea" placeholder="public key" rows=12 cols=120 required><%= rsaencrypt.pub %></textarea>

            <input type="submit" value="Encrypt" />
            <br><br>

            <label>Cipher (Encrypted) Text:</label>
            <textarea name="cipher" id ="cipher" rows=8 cols=120 readonly><%= rsaencrypt.cipher %></textarea><br>
        
        </form>
        <br>
    </div>



<!-- 6. RSA - Decrypt -->
    <div id="6" class="menu-div" style="display:none">

        <form method="POST" action="/rsaDecrypt" >

            <br>
            <label>RSA Decrypt</label><hr>
            <!-- <span><i>algorithm = RSA</i></span> -->
            <br>

            <label>Private Key:</label>
            <textarea name="priv" id ="priv" class ="input-textarea" placeholder="private key" rows=24 cols=120 required><%= rsadecrypt.priv %></textarea>

            <label>Cipher (Encrypted) Text:</label>
            <textarea name="cipher" id ="cipher" class="input-textarea" rows=8 cols=120 required><%= rsaencrypt.cipher %></textarea><br>
        
            <input type="submit" value="Decrypt" />
            <br><br>

            <label>Plaintext:</label>
            <textarea name="data" id ="data" placeholder="plaintext" rows=4 cols=120 readonly><%= rsadecrypt.data %></textarea>

        </form>
        <br>
    </div>



</div>
<br>
<br>
<br>




<script>
    function menuOption(activeOption) {

        activeOption--;
        var i;
        var activediv = document.getElementsByClassName("menu-div");
        var activebutton = document.getElementsByClassName("menu-button");

        for (i = 0; i < activediv.length; i++) {
            if (i == activeOption) {    
                activediv[i].style.display = "block"; 
                activebutton[i].style.background = "rgb(0, 9, 12)";
            } else {
                activediv[i].style.display  = "none"; 
                activebutton[i].style.background = "";
            }
        }
    }
</script>
    
</body>
</html>
